<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "The Pet Finder ", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Show pets", pets_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Dogs</a>
          <a class="dropdown-item" href="#">Cats</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item active">
        <%= link_to "I have lost a pet", lost_animal_prompt_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "I have found a lost pet", found_animal_prompt_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1>I have lost a...</h1>
  <div class="pet-prompt-container">

    <%= link_to new_dog_path do %>
      <div class="pet-prompt-card">
        <%= image_tag("golden-retriever-puppy.jpg", class: "pet-prompt-image", alt: "Dog") %>
        <div class="pet-prompt-title">Dog</div>
      </div>
    <% end %>

    <%= link_to new_cat_path do %>
      <div class="pet-prompt-card">
        <%= image_tag("choosing-a-cat.jpg", class: "pet-prompt-image", alt: "Dog") %>
        <div class="pet-prompt-title">Cat</div>
      </div>
    <% end %>

    <div class="pet-prompt-card">
      <%= image_tag("choosing-a-cat.jpg", class: "pet-prompt-image", alt: "Dog") %>
      <div class="pet-prompt-title">Cat</div>
    </div>

    <div class="pet-prompt-card">
      <%= image_tag("choosing-a-cat.jpg", class: "pet-prompt-image", alt: "Dog") %>
      <div class="pet-prompt-title">Cat</div>
    </div>
    <div class="pet-prompt-card">
      <%= image_tag("choosing-a-cat.jpg", class: "pet-prompt-image", alt: "Dog") %>
      <div class="pet-prompt-title">Cat</div>
    </div>

    <div class="pet-prompt-card">
      <%= image_tag("choosing-a-cat.jpg", class: "pet-prompt-image", alt: "Dog") %>
      <div class="pet-prompt-title">Cat</div>
    </div>
  </div>
</div>

