<div class="container">
  <h1>I have lost a...</h1>
  <div class="pet-prompt-container">

    <%= link_to new_dog_path do %>
      <div class="pet-prompt-card">
        <%= image_tag("golden-retriever-puppy.jpg", class: "pet-prompt-image", alt: "Dog") %>
        <div class="pet-prompt-title">Dog</div>
      </div>
    <% end %>

    <%= link_to new_cat_path do %>
      <div class="pet-prompt-card">
        <%= image_tag("choosing-a-cat.jpg", class: "pet-prompt-image", alt: "Dog") %>
        <div class="pet-prompt-title">Cat</div>
      </div>
    <% end %>

    <div class="pet-prompt-card">
      <%= image_tag("choosing-a-cat.jpg", class: "pet-prompt-image", alt: "Dog") %>
      <div class="pet-prompt-title">Cat</div>
    </div>

    <div class="pet-prompt-card">
      <%= image_tag("choosing-a-cat.jpg", class: "pet-prompt-image", alt: "Dog") %>
      <div class="pet-prompt-title">Cat</div>
    </div>
    <div class="pet-prompt-card">
      <%= image_tag("choosing-a-cat.jpg", class: "pet-prompt-image", alt: "Dog") %>
      <div class="pet-prompt-title">Cat</div>
    </div>

    <div class="pet-prompt-card">
      <%= image_tag("choosing-a-cat.jpg", class: "pet-prompt-image", alt: "Dog") %>
      <div class="pet-prompt-title">Cat</div>
    </div>
  </div>
</div>

