<div class="container-fluid">
  <div class="row">
    <div class="col pets-col" id="lost-pets-row">
      <h2>Lost pets</h2>
      <div class="container">
        <div class="row">
          <% @dogs.each do |pet| %>
            <% if pet.status == "lost" %>
              <div class="col">
                <div class="card" style="width: 12rem;">
                  <%= image_tag("dog.jpg", class: "card-img-top") %>
                  <div class="card-body">
                    <p class="card-text"><%= pet.name %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
          <% @cats.each do |pet| %>
            <% if pet.status == "lost" %>
              <div class="col">
                <div class="card" style="width: 12rem;">
                  <%= image_tag("cat.jpg", class: "card-img-top") %>
                  <div class="card-body">
                    <p class="card-text"><%= pet.name %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col pets-col" id="found-pets-row">
      <h2>Found pets</h2>
      <div class="container">
        <div class="row">
          <% @dogs.each do |pet| %>
            <% if pet.status == "recovered" %>
              <div class="col">
                <div class="card" style="width: 12rem;">
                  <%= image_tag("dog.jpg", class: "card-img-top") %>
                  <div class="card-body">
                    <p class="card-text"><%= pet.name %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
          <% @cats.each do |pet| %>
            <% if pet.status == "recovered" %>
              <div class="col">
                <div class="card" style="width: 12rem;">
                  <%= image_tag("cat.jpg", class: "card-img-top") %>
                  <div class="card-body">
                    <p class="card-text"><%= pet.name %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col pets-col" id="found-pets-row">
      <h2>Reunited pets</h2>
      <div class="container">
        <div class="row">
          <% @dogs.each do |pet| %>
            <% if pet.status == "found" %>
              <div class="col">
                <div class="card" style="width: 12rem;">
                  <%= image_tag("dog.jpg", class: "card-img-top") %>
                  <div class="card-body">
                    <p class="card-text"><%= pet.name %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
          <% @cats.each do |pet| %>
            <% if pet.status == "found" %>
              <div class="col">
                <div class="card" style="width: 12rem;">
                  <%= image_tag("cat.jpg", class: "card-img-top") %>
                  <div class="card-body">
                    <p class="card-text"><%= pet.name %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>


<%= link_to "Home", root_path %>

<!-- Once I have done the routing etc I am going to use this article
  https://stackoverflow.com/questions/36094710/combining-two-different-activerecord-collections-into-one -->

